@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
   font-family:  'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
 }
 body{
     background-color: rgb(2, 2, 34);
     font: 100;
     color: cornsilk;
 }
 header{
     padding: 2px;
     
 }
 header .lado{
     list-style: none;
     display: block;
     float: left;
     width: 35%;
 }
header p {
    color: rgba(238, 238, 235, 0.384);
    font-size: 2em;
    text-align: center;
    font-style: italic;
    
}
header a {
    text-decoration: none;
    color: white;
}
h2,h3,h4 {
    margin: 10px;
    font-weight: bold;
}
p{
    margin: 10px;
}

 
 main{
     background-color: rgb(255, 255, 255);
     color: grey;
     padding: 1%;
     margin:2%;
     border: solid;
     border-color: rgb(255, 255, 255);
     border-radius: 15px;
    }
    ul {
        padding: 15px;
       
             
    }
    li{
        margin-left: 20px;
        
    }
    
 footer{
     text-align: right;
 }   